<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>restKey</key>
	<string>1234</string>
	<key>appID</key>
	<string>5678</string>
	<key>jsKey</key>
	<string>9012</string>
</dict>
</plist>
